{% extends "base.html" %}

{% block title_head %}
<title>Cambiar contraseña</title>
{% endblock title_head %}

{% block section %}
<div class="text-center">
<div class="container d-flex justify-content-center align-items-center" >
        <form   method="POST" action="">
            <br>
            {% csrf_token %}
            <table>
                {{form}}
            </table>
            <br>
            <div class="d-flex justify-content-center">
                <input type="submit"  value="Cambiar contraseña">
            </div>
        </form>
</div>
<br>
{% endblock section %}