{% extends "base.html" %}

{% block title_head %}
<title>Acerca de mí</title>
{% endblock title_head %}

{% block section %}
<br>
<div class="w-75 mx-auto justify-content-center">
    <h1>Acerca de mí</h1>
    <p>Nombre: Luciano Boldrini</p>
    <p>Edad: 35</p>
    <p>Ubicación: Rosario, Santa Fe</p>
    <p>Profesión: Licenciado en Salud y Seguridad Ocupacional</p>
    <p>Trabajo Actual: Empresa de Montaje Eléctrico de Media y Alta Tensión</p>
    <p>Experiencia: Trabajo actualmente en el campo de montaje eléctrico, pero mi interés en la programación es reciente.</p>
    <h2>Cursos Realizados</h2>
    <ul>
        <li>Desarrollo Web</li>
        <li>JavaScript</li>
        <li>Python</li>
    </ul>
    <p>Próximo Curso: ReactJS</p>

    <h2>Enlaces</h2>
    <p>GitHub: https://github.com/panckuzo</p>
    <p>LinkedIn: https://www.linkedin.com/in/luciano-boldrini/</p>
    <h2>Contacto</h2>
    <p>Correo Electrónico: alucianoboldrini@gmail.com </p>
    <p>Otros Medios de Contacto: (0341) 156656655</p>
</div>
<br>
{% endblock section %} 