{% extends "base.html" %}

{% block title_head %}
<title>Crear</title>
{% endblock title_head %}

{% block section %}
<br>
<div class="w-75 mx-auto d-flex justify-content-center">

<form  method="POST" action= {% url "crear_producto" %} enctype= "multipart/form-data">
    {% csrf_token %}
    <table>
        {{formulario.media}}
        {{formulario}}
    </table>
        
    <input type="submit" value="Crear">
</form>
</div>
<br>
<br>
<br>
<div class="w-75 mx-auto d-flex justify-content-center">
<form method="POST" action="">
    {% csrf_token %}
    <table >
        {{formulario.media}}
        {{formulario_proveedor}}
    </table>
    
<input type="submit" value="Crear">
</form>
<br>

</div>
<br>
{% endblock section %}
