{% extends "base.html" %}

{% block title_head %}
<title>Inicio</title>
{% endblock title_head %}

{% block section %}
<br>
<br>
<div class="w-75 mx-auto d-flex justify-content-center">
    
    <br>
    <p class="text-center fw-bolder">¿Queres darle vida a tu hogar con productos artesanales de excelente calidad y a precios increíbles? Entonces SIMPLE es la solución a tu problema! Tenemos una amplia variedad de productos de decoración artesanal, todos hechos con los mejores materiales y acabados. ¡Decora tu hogar con Simple y descubrí el placer de tener un espacio acogedor y único!
    </p>
    
</div>
<br>
<br>
<div>
    <h5 class="fw-bolder text-center">Subscribete</h5>
    <p class="text-center fw-bolder">Para recibir información, tips, códigos de descuento y ofertas por e-mail</p>
    <form class="text-center" method="POST" action="" >
        {% csrf_token %}
        {{ formulario}}
        <button type="submit">Suscribirse</button>
    </form>
</div>
<br>
<br>
{% endblock section %} 


