{% extends "base.html" %}

{% block title_head %}
<title>Nosotros</title>
{% endblock title_head %}

{% block section %}
<br>
<h5 class="fw-bolder text-center">Nosotros</h5>
<br>
<p class="text-center fw-bolder">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias quam alias commodi amet, ut tenetur quasi quisquam fuga unde. Quos sunt sed tenetur esse amet illum natus culpa quo nam!</p>
<p class="text-center fw-bolder ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis dolores ducimus asperiores error dolorum earum ipsum laborum qui consectetur molestias aspernatur saepe exercitationem atque, rem nisi? Molestiae, voluptatibus aliquid?
</p>
<p class="text-center fw-bolder ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, quaerat modi explicabo, porro nulla aut consequatur ratione obcaecati fuga reiciendis aspernatur vero facilis libero repellendus amet sunt quae nemo optio.
</p>
<br>

{% endblock section %} 

{% block form_subcriptor %}
{% csrf_token %}
<form method="post" action="">
    {% csrf_token %}
    {{ formulario}}
</form>
{% endblock form_subcriptor %}