{% extends "base.html" %}

{% block title_head %}
<title>Productos / Proveedores</title>
{% endblock title_head %}

{% block section %}
<br>
<div class="w-75 mx-auto d-flex justify-content-center">
    <h5 class="fw-bolder">- Productos - </h5>
    <form action="{% url "producto" %}">
        <input type="text" name="producto_nombre" placeholder="nombre del producto...">
        <input type="submit" value="Buscar">
    </form>
    <ul>
        {% for producto in listado_productos %}
        <li>{{producto}} | <a href={% url "actualizar_producto" producto.id %}>Actualizar</a> | <a href={% url "eliminar_producto" producto.id %}>Eliminar</a> | <a href={% url "detalle_producto" producto.id %}>Detalle</a></li>
        {% endfor %}
        {% if not listado_productos %}
            <p>No se encontraron productos con ese nombre.</p>
        {% endif %}
    </ul>
</div>

{% endblock section %}


