{% extends "base.html" %}

{% block title_head %}
<title>Productos / Proveedores</title>
{% endblock title_head %}

{% block section %}
<br>
<div>
    <h5 class="fw-bolder">- Productos - </h5>
    <form action="">
        <input type="text" name="producto_nombre" placeholder="nombre del producto...">
        <input type="submit" value="Buscar">
    </form>
    <ul>
        {% for producto in listado_productos %}
        <li>{{producto}}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <h5 class="fw-bolder">- Proveedores -</h5>
    <form action="">
        <input type="text" name="proveedor_nombre" placeholder="nombre del proveedor...">
        <input type="submit" value="Buscar">
    </form>
    <ul>
        {% for proveedor in listado_proveedores %}
        <li>{{proveedor}}</li>
        {% endfor %}
    </ul>
</div>



{% comment %} <div>
    <form method="post" action="">
        {% csrf_token %}
        <h2>Buscar Productos:</h2>
        {{ producto_form.as_p }}
        <button type="submit">Buscar Producto</button>
    </form>
    {% if productos %}
        <h2>Resultados de la Búsqueda - Productos:</h2>
        <ul>
            {% for producto in productos %}
                <li>{{ producto.nombre }}</li>
            {% empty %}
                <li>No se encontraron productos.</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>


<div>
    <form method="post" action="">
        {% csrf_token %}
        <h2>Buscar Proveedores:</h2>
        {{ proveedor_form.as_p }}
        <button type="submit">Buscar Proveedor</button>
    </form>
    
    {% if proveedores %}
        <h2>Resultados de la Búsqueda - Proveedores:</h2>
        <ul>
            {% for proveedor in proveedores %}
                <li>{{ proveedor.nombre }}</li>
            {% empty %}
                <li>No se encontraron proveedores.</li>
            {% endfor %}
        </ul>
    {% endif %}
</div> {% endcomment %}
{% endblock section %}



