{% extends "base.html" %}

{% block title_head %}
<title>Proveedores</title>
{% endblock title_head %}

{% block section %}
<br>
<div class="w-75 mx-auto d-flex justify-content-center">
    <h5 class="fw-bolder">- Proveedores -</h5>
    <form action="{% url "proveedor" %}">
        <input type="text" name="nombre" placeholder="nombre del proveedor...">
        <input type="submit" value="Buscar">
    </form>
    <ul>
        {% for proveedor in listado_de_proveedores %}
        <li>
            {{proveedor}} 
            {{proveedor.productos | safe}}
            <div>
                <button class="btn btn-outline-dark" type="submit"><a class="nav-link" href="{% url "actualizar_proveedor" proveedor.id%}">Actualizar</a></button>
                <button class="btn btn-outline-dark" type="submit"><a class="nav-link" href="{% url "detalle_proveedor" proveedor.pk %}">Detalle</a></button>
                <button class="btn btn-outline-dark" type="submit"><a class="nav-link" href="{% url "eliminar_proveedor" proveedor.pk %}">Eliminar</a></button>
            </div>
        {% endfor %}
        {% if not listado_de_proveedores %}
            <p>No se encontraron proveedores con ese nombre.</p>
        {% endif %}
    </ul>
</div>
{% endblock section %}