{% extends "base.html" %}

{% block title_head %}
<title>Reseñas</title>
{% endblock title_head %}

{% block section %}
<br>
<h5 class="fw-bolder text-center">Tu opinion es muy importante para nosotros</h5>
<br>
<p class="text-center fw-bolder">Dejanos una reseña sobre un producto,puntos a mejorar o cualquier cosa que quieras decirnos. </p>
<p class="text-center fw-bolder">Te lo vamos a agradecer!</p>
<br>
<form method="post">
    {% csrf_token %}
    {{ formulario_resena.as_p }}
    <button type="submit">Enviar Reseña</button>
</form>
{% endblock section %}