{% extends "base.html" %}

{% block title_head %}
<title>Reseñas</title>
{% endblock title_head %}

{% block section %}
<div class="text-center">
    <br>
    <h5 class="fw-bolder text-center">Tu opinion es muy importante para nosotros</h5>
    <br>
    <p class="text-center fw-bolder">Dejanos una reseña sobre un producto,puntos a mejorar o cualquier cosa que quieras decirnos. </p>
    <p class="text-center fw-bolder">Te lo vamos a agradecer!</p>
</div>

<div class="container d-flex justify-content-center align-items-center" >
        <form   method="POST" action={% url "resena" %} enctype= "multipart/form-data">
            {% csrf_token %}
            <table>
                {{ formulario.media}}
                {{ formulario}}
            </table>
            <div class="d-flex justify-content-center">
                <input type="submit"  value="Enviar Reseña">
            </div>
        </form>
</div>
<br>
<div class=" justify-content-center">
    <h5 class="fw-bolder text-center">Reseñas de clientes</h5>
    {% for resena in resenas %}
        <p class="text-center fw-bolder">Nombre: {{ resena.nombre_de_cliente }}</p>
        <p class="text-center fw-bolder">Opinion:{{ resena.resena | safe }}</p>
        <p class="text-center fw-bolder">Calificacion: {{ resena.calificacion }}</p>
        <p class="text-center">--------------------</p>
    {% endfor %}
</div>   



{% endblock section %}